{% extends 'apps/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_tags %}

{% block title %}
    Market
{% endblock %}

{% block main_content %}

<div class="card mb-3">
        <div class="card-body">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oqim yaratish</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'stream' %}" class="form-class">
                                {% csrf_token %}
                                <input name="product" type="hidden" id="hidden_product" value="test">

                                    Oqim nomi <input type="text" name="name" class="form-control" placeholder mt-2="Oqim uchun nom kiriting" required id="id_title">

                                    Chegirma <input type="text" name="discount" class="form-control" placeholder mt-2="Chegirma miqdori: {{ product.benefit }} so&#x27;mgacha" id="id_discount">

                                    Qo&#x27;shimcha foyda <input type="text" name="additional_benefit" class="form-control" placeholder mt-2="Qo&#x27;shimcha foyda: " id="id_additional_benefit">

                                    Pullik dostavka <input type="checkbox" name="paid_delivery" id="id_paid_delivery">

                                <input type="submit" class="btn btn-primary mt-4" value="Oqim yaratish">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <br>
                <br>
                <h3 class="text-center"> Hozirda sotuvda bor <br> mahsulotlar </h3>
                <br>

                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="/admin_page/market/" class="active btn btn-default"> Hammasi </a>

                                <a href="/admin_page/market/uy-uchun"
                                   class="btn btn-default"> Uy uchun </a>
                                <a href="/admin_page/market/bolalar-uchun"
                                   class="btn btn-default"> Bolalar uchun </a>
                                <a href="/admin_page/market/sovga"
                                   class="btn btn-default"> Sovg&#x27;a </a>
                                <a href="/admin_page/market/ayollar"
                                   class="btn btn-default"> Ayollar </a>
                                <a href="/admin_page/market/davolovchi-mahsulotlar"
                                   class="btn btn-default"> Davolovchi mahsulotlar </a>
                                <a href="/admin_page/market/erkaklar-uchun"
                                   class="btn btn-default"> Erkaklar uchun </a>
                                <a href="/admin_page/market/fitnes"
                                   class="btn btn-default"> Fitnes </a>
                                <a href="/admin_page/market/davolovchi-mazlar"
                                   class="btn btn-default"> Davolovchi mazlar </a>
                                <a href="/admin_page/market/moshina-uchun"
                                   class="btn btn-default"> Moshina uchun </a>
                                <a href="/admin_page/market/kitoblar"
                                   class="btn btn-default"> Kitoblar </a>
                                <a href="/admin_page/market/aqlli-soatlar"
                                   class="btn btn-default"> Aqlli soatlar </a>
                                <a href="/admin_page/market/atir"
                                   class="btn btn-default"> Atir </a>
                                <a href="/admin_page/market/yangi-yel-maxsulotlari"
                                   class="btn btn-default"> Yangi yel maxsulotlari </a>
                        </div>
                        <div class="search-box" style="width: 100%;">
                            <form action="/admin_page/market/" method="GET" class="position-relative" style="width: 100%"
                                data-bs-display="static" autocomplete="off">
                                <input type="hidden" name="csrfmiddlewaretoken" value="9Dk9A4LpRKbJr0XLPEinbqLbSAEVAk1GRVssMbT4VQxS7eA5IUP375q9XaIfSSi9">
                                <input id="search-input" name="q" class="form-control search-input" type="search"
                                    placeholder="Qidiruv..." aria-label="Search" />
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {% for product in products %}
                    	
                        <div class="col-sm-4 p-2">
                            <div class="card">
                                <a  href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/product-detail/genger-sovun" target="_blank">
                                            {{ product.name }}
                                        </a>
                                    </h5>
                                    <p class="text-muted"> {{ product.price }} so'm </p>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">To'lov: <strong>{{ product.price }} </strong></li>

                                    <li class="list-group-item">Zaxirada: <strong> {{ product.quantity }} ta </strong>
                                    </li>

                                        <li class="list-group-item">Chegirma: <strong> yuq </strong>
                                        </li>

                                </ul>


                                    <a href="https://t.me/alijahon_uz_Internet_magazin/1306" class="btn bg-danger text-white mt-2">Reklama
                                        Posti</a>
                                <button class="btn btn-primary btn_open_modal" type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" name="{{ product.id }}">
                                    Oqim yaratish
                                </button>
                                <a href="{% url 'stream' %}" class="btn bg-danger text-white mt-2">Batafsil</a>
                            </div>
                        </div>
                        
                    {% endfor %}

                        <nav aria-label="Page navigation example">
                <ul class="pagination">
                <li class="page-item"><a class="page-link " href="?page=1">1</a></li>
                <li class="page-item"><a class="page-link " href="?page=2">2</a></li>



                <li class="page-item"><a class="page-link " href="?page=3">3</a></li>



                <li class="page-item"><a class="page-link " href="?page=4">4</a></li>



                <li class="page-item"><a class="page-link " href="?page=5">5</a></li>



                <li class="page-item"><a class="page-link " href="?page=6">6</a></li>



                <li class="page-item"><a class="page-link " href="?page=7">7</a></li>



                <li class="page-item"><a class="page-link " href="?page=8">8</a></li>



                <li class="page-item"><a class="page-link " href="?page=9">9</a></li>



                <li class="page-item"><a class="page-link " href="?page=10">10</a></li>



                <li class="page-item"><a class="page-link " href="?page=11">11</a></li>




                <li class="page-item"><a class="page-link" href="?page=2">Keyingisi</a></li>


    </ul>
</nav>

                </div>
            </div>
        </div>
    </div>


{% include 'apps/parts/footer.html' %}
{% endblock %}


{% block javascript %}
    <script>
        $('.btn_open_modal').on('click', function () {
            let product_id = $(this).attr('name');
            console.log(product_id);
            $('#hidden_product').val(product_id);
        })
    </script>
{% endblock %}

