 <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Operator</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Oqim</th>
                            <th scope="col">Buyurtmachi</th>
                            <th scope="col">Viloyat</th>
                            <th scope="col">Holat</th>
                            <th scope="col">Izoh</th>
                            <th scope="col">Sana</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                            <tr
                                style="text-align: center;">
                                <th scope="col">1752918</th>
                                <th scope="col"></th>
                                <th scope="col">Genger sovun</th>
                                <th scope="col">500 qoshdik</th>
                                <th scope="col">fdsfjgj</th>
                                <th scope="col">tashkent</th>
                                <th scope="col">
                                    yangi

                                </th>
                                <th scope="col"></th>
                                <th scope="col">29-Aprel, 2024-yil 21:05</th>
                            </tr>

                            <tr
                                style="text-align: center;">
                                <th scope="col">1752917</th>
                                <th scope="col"></th>
                                <th scope="col">Genger sovun</th>
                                <th scope="col">500 qoshdik</th>
                                <th scope="col">fdsfjgj</th>
                                <th scope="col">tashkent</th>
                                <th scope="col">
                                    yangi

                                </th>
                                <th scope="col"></th>
                                <th scope="col">29-Aprel, 2024-yil 21:05</th>
                            </tr>

                            <tr
                                style="text-align: center;">
                                <th scope="col">1752916</th>
                                <th scope="col"></th>
                                <th scope="col">Genger sovun</th>
                                <th scope="col">500 qoshdik</th>
                                <th scope="col">fdsfjgj</th>
                                <th scope="col">tashkent</th>
                                <th scope="col">
                                    yangi

                                </th>
                                <th scope="col"></th>
                                <th scope="col">29-Aprel, 2024-yil 21:05</th>
                            </tr>

                            <tr
                                style="text-align: center;">
                                <th scope="col">1752904</th>
                                <th scope="col"></th>
                                <th scope="col">Genger sovun</th>
                                <th scope="col">testing uchun bu</th>
                                <th scope="col">tohirjon</th>
                                <th scope="col">Viloyatni tanlang</th>
                                <th scope="col">
                                    keyin_oladi
                                     <br>
                                        <button style="background-color: green;"
                                                class="btn btn-primary mt-2 change-btn">Yangilash
                                        </button>
                                        <button class="btn btn-danger mt-2 reset-btn">
                                            Qayta qo'ng'iroq
                                        </button>

                                </th>
                                <th scope="col">5ta olmoqchi</th>
                                <th scope="col">22-Aprel, 2024-yil 19:23</th>
                            </tr>

                            <tr
                                style="text-align: center;">
                                <th scope="col">1752908</th>
                                <th scope="col"></th>
                                <th scope="col">Genger sovun</th>
                                <th scope="col">testing uchun bu</th>
                                <th scope="col">tohirjon</th>
                                <th scope="col">tashkent</th>
                                <th scope="col">
                                    yangi

                                </th>
                                <th scope="col">oladi</th>
                                <th scope="col">21-Aprel, 2024-yil 15:57</th>
                            </tr>

                            <tr
                                style="text-align: center;">
                                <th scope="col">1752903</th>
                                <th scope="col">721</th>
                                <th scope="col">Genger sovun</th>
                                <th scope="col">testing uchun bu</th>
                                <th scope="col">gfdgdf</th>
                                <th scope="col">tashkent</th>
                                <th scope="col">
                                    bekor_qilindi

                                </th>
                                <th scope="col">xullas olarkan</th>
                                <th scope="col">17-Aprel, 2024-yil 20:15</th>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>