 {% extends 'apps/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_tags %}

{% block title %}
    Market
{% endblock %}

{% block main_content %}
    
 <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Operator</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Oqim</th>
                            <th scope="col">Buyurtmachi</th>
                            <th scope="col">Viloyat</th>
                            <th scope="col">Holat</th>
                            <th scope="col">Izoh</th>
                            <th scope="col">Sana</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                            <tr
                                style="text-align: center;">
                                <th scope="col">1752918</th>
                                <th scope="col"></th>
                                <th scope="col">Genger sovun</th>
                                <th scope="col">500 qoshdik</th>
                                <th scope="col">fdsfjgj</th>
                                <th scope="col">tashkent</th>
                                <th scope="col">
                                    yangi

                                </th>
                                <th scope="col"></th>
                                <th scope="col">29-Aprel, 2024-yil 21:05</th>
                            </tr>


                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% include 'apps/parts/footer.html' %}
{% endblock %}


{% block javascript %}
    <script>
        $('.btn_open_modal').on('click', function () {
            let product_id = $(this).attr('name');
            console.log(product_id);
            $('#hidden_product').val(product_id);
        })
    </script>
{% endblock %}




